* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Cormorant', serif;
}

@media (max-width: 60rem){
	
body {
	margin: 0 20px;
}

div.logo {
	text-align: center;
}

ul.menu-header {
	display: flex;
	justify-content: space-between;

}


div.main-wrapper {
	display: flex;
	flex-direction: column;
	
}

.menu-header li {
	list-style-type: none;

}
li a {
	text-decoration: none;
}

div.mainPhoto {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	border: 3px solid #F5C2CB;
	border-radius: 10px; 
}

div.main-text {
	display: flex;
	width: 100%;
	text-align: center;
	border: 3px solid #F5C2CB;
	border-radius: 10px;
	height: 10rem;
	background-color: lightgray;
	
}
.BookAnApp a {
	text-decoration: none;
	border: 3px solid #F5C2CB;
	border-radius: 10px;
}
.BookAnApp {
	margin: 20px 0;
	text-align: center;
}

	
}
